// Fonts
$font-normal: Roboto, 'Neue Helvetica W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colours
$primary-color: #77308f;
$secondary-color: #37203E;

$color-background-light: #fff;
$color-background-alternate: #642d96;
$color-background-grey-light: #fafafa;
$color-background-grey: #f2f2f2;
$color-border: #d3d3d3;

$color-text: #000;
$color-text-light: #fff;
$color-text-light-grey: #9b9b9b;
$color-text-material-ui-grey: #393939;
$color-header-1: #333;
$color-header-4: #8408c3;

$color-border: #ccc;
$ribbon-color: #CDFF99;

$disabled-color: #595959;


// Layout
$max-content-width: 1000px;
$narrow-content-width: 700px;
$max-form-width: 500px;



// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
